group Nuget
    source https://www.nuget.org/api/v2

    nuget FAKE
    nuget Froto.Parser >= 0.2.0 prerelease
    nuget FsCheck
    nuget FsUnit
    nuget NUnit
    nuget NUnit.Runners
    nuget Froto.Core
    
group StarterPack
    github takemyoxygen/FSharp.TypeProviders.StarterPack:nested-enums src/ProvidedTypes.fs
    github takemyoxygen/FSharp.TypeProviders.StarterPack:nested-enums src/ProvidedTypes.fsi
    github takemyoxygen/FSharp.TypeProviders.StarterPack:nested-enums src/ProvidedTypesTesting.fs
